// colors -----------------------------------------------

$blu: #294A70;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;

// mixins -----------------------------------------------

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// showcase-area ----------------------------------------

.about-body{
    .container{ 
        padding: 0 65px;
        padding-bottom: 100px;
        padding-top: 70px;
        
        .text-area{
            display: flex;
            flex-direction: column;
                .heading{
                    h1{
                        margin-bottom: 30px;
                        color: $blu;
                        font-size: 35px;
                        span{
                            font-size: 35px;
                            color: $yel;
                        }
                    }// h1 end
                }//heading end
        }// text-area end
    }// container end
    
    #admin{
        background-color: $blu;
        color: $whi;
        transform: skewy( -1deg);
    
        .text-area{
            transform: skewy( 1deg);
            h1{
                color: $whi;
            }
        }
    }
    #history{
        background-color: $blu;
        color: $whi;
        padding-bottom: 100px;
        padding-top: 70px;
        transform: skewy( -1deg);
    
        .text-area{
            transform: skewy( 1deg);
            h1{
                color: $whi;
            }
            p{
                columns: 350px;
            }
        }
    }
    
}


@media (max-width: 700px){
    .about-body{
        .container{
            padding: 0 6vw;
        }
    }
}