// colors -----------------------------------------------

$blu: #294A70;;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;

// mixins -----------------------------------------------

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// showcase-area ----------------------------------------

.about-body{
    padding: 100px 0;
}

.container{
    padding: 0 5vw;
    display: grid;
    grid-row-gap: 100px;
    
    .text-area{
        display: flex;
        flex-direction: column;
            .heading{
                h1{
                    color: $blu;
                    font-size: 35px;
                }// h1 end
            }//heading end
    }// text-area end
}// container end

.temporary{
    height: 500px;
}