// colors -----------------------------------------------

$blu: #294A70;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;

// mixins -----------------------------------------------

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// showcase-area ----------------------------------------
.about-showcase{
    @include flexCenter();
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/6140697/pexels-photo-6140697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    
    .text-area{

        h1{
            font-size: 41px;
            text-shadow: $blk 3px 3px 6px;
            color: $whi;
            span{
                font-size: 41px;
                text-shadow: $blk 3px 3px 6px;
                color: $yel;
            }
        }
    }
}

.about-body{

    .container{ 
        background-color: $whi;
        padding: 0 65px;
        
        .text-area{
            display: flex;
            flex-direction: column;
            p{
                margin-bottom: 70px;
            }
                .heading{
                    h1{
                        margin-bottom: 30px;
                        color: $blu;
                        font-size: 35px;
                        padding-top: 50px;
                        span{
                            font-size: 35px;
                            color: $yel;
                        }
                    }// h1 end
                }//heading end
        }// text-area end
    }// container end
    
    #admin{
        background-color: $blu;
        color: $whi;
        transform: skewy( -1deg);
    
        .text-area{
            transform: skewy( 1deg);
            h1{
                color: $whi;
            }
            p{
                
            }
        }
    }
    #history{
        background-color: $blu;
        color: $whi;
        transform: skewy( -1deg);
    
        .text-area{
            transform: skewy( 1deg);
            h1{
                color: $whi;
            }
            p{
                columns: 350px;
            }
        }
    }
    
}


@media (max-width: 700px){
    .about-body{
        .container{
            padding: 0 6vw;

            .text-area{
                .heading{
                    h1{
                        font-size: 6.5vw;

                        span{
                            font-size: 6.5vw;
                        }
                    }
                }
            }
        }
    }
}