// colors -----------------------------------------------

$blu: #294A70;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;

// mixins -----------------------------------------------

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

// showcase-area ----------------------------------------
.programs-showcase{
    @include flexCenter();
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1709003/pexels-photo-1709003.jpeg?cs=srgb&dl=pexels-icsa-1709003.jpg&fm=jpg");
    
    .text-area{

        h1{
            font-size: 41px;
            text-shadow: $blk 3px 3px 6px;
            color: $whi;
            span{
                font-size: 41px;
                text-shadow: $blk 3px 3px 6px;
                color: $yel;
            }
        }
    }
}

.programs-body{
    hr{
        border-top: 1px solid $blu;
    }

    .container{ 
        background-color: $whi;
        padding: 0 65px;

        .text-area{
            display: flex;
            flex-direction: column;
            padding: 60px 0;
            
            p{
                
            }
                .heading{
                    h1{
                        margin-bottom: 30px;
                        color: $blu;
                        font-size: 35px;
                        span{
                            font-size: 35px;
                            color: $yel;
                        }
                    }// h1 end
                }//heading end
        }// text-area end

        

        &:nth-child(even){
            background-color: $blu;
            transform: skewy( -1deg);

            .text-area{
                transform: skewy( 1deg);
                color: $whi;

                .heading{
                    h1{
                        color: $whi;
                    }//h1 end
                }//heading end
            }// text-area end
        }// container nth child end
    }// container end
    

    

// highlights -------------------------------------------

    #highlights{
        padding: 90px 0;
        background-color: $whi;
    
        h1{
            font-size: 40px;
            color: $blu;
            margin-bottom: 40px;
    
            span{
                font-size: 40px;
                color: $yel;
            }// span end
        }//h1 end
        
    }// #highlights end
    .highlights{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .containers{
            width: 650px;
            padding: 0 0 10px 0;
            margin: 10px;
        }//container end
    
        #main{
            transition: .2s;
            background-color: $smk;
    
            &:hover{
                transform: scale(1.01);
                box-shadow: $blk 3px 3px 10px;
            }//hover end
    
            .img{
                height: 300px;
                background-image: url(https://www.tesda.gov.ph/Uploads/Image/taguig.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom center;
                @include flexCenter();
                
                h2{
                    color: $whi;
                    font-size: 30px;
                    text-shadow: $blk 2px 2px 3px;
                }//h2 end
            }//img end
    
            .text-area{
                display: flex;
                flex-direction: column;
                padding: 20px;
    
                .date{
                    font-size: 16px;
                    font-weight: 700;
                    color: rgb(117, 113, 113);
                    margin-bottom: 10px;
                }//date end

                p{
                    font-size: 14px;
                    color: $blk;
                }//p end
            }//text area end
        }//main end
    
        #sub{
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
    
            .sub1{
                height: 220px;
                background-color: $smk;
                display: flex;
                justify-content: space-between;
                transition: .2s;
    
                &:hover{
                    transform: scale(1.01);
                    box-shadow: $blk 3px 3px 10px;
                }
    
                .date{
                    font-size: 16px;
                    font-weight: 700;
                    color: rgb(117, 113, 113);
                    margin: 20px;
                }//date end
    
                p{
                    font-size: 14px;
                    color: $blk;
                    padding: 20px;
                }//p end
    
                &:first-child{
                    margin-bottom: 20px;
                    .img{
                        background-image: url(https://static.wixstatic.com/media/efa800_5457dfe3034b4e589d6509d7e6de887b~mv2.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                }
                .img{
                    height: 200px;
                    width: 250px;
                    background-image: url(https://lh3.googleusercontent.com/proxy/TWVislQqhst7IYbDr_PMIweCx8Jmrvc_hBbK6ZGj7YJUEAzWtxVge4-CTKBGwA5scXUmbVecvltzXVB2IDyxe46pHbpQ0obmdQ0spmFdW1HlauBR-Iqp332FNF1zfwNYw7_j6MdVzfq99g);
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    
    }// .highlights end
}


@media (max-width: 700px){
    .programs-body{
        .container{
            padding: 0 6vw;

            .text-area{
                .heading{
                    h1{
                        font-size: 6.5vw;

                        span{
                            font-size: 6.5vw;
                        }
                    }
                }
            }
        }
    }
}