// colors -----------------------------------------------
$blu: #335C67;
$yel: #DD962C;
$blk: #141414;
$whi: #F5F5F5;
$red: #912728;
// colors -----------------------------------------------

header{
    background-color: $red;
    border-bottom: 5px $yel solid;
    padding: 30px 0;
    
    nav{
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            color: #fff;
            margin: 0 20px;
            font-variant: small-caps;
            
            &:hover{
                color: $yel;
            }//a hover end
        }//a end
    }//nav end
}//header end