<div class="primary-nav">
  <nav>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/services">services</a>
    <a href="/programs">programs</a>
  </nav>

  <div class="free"><p></p></div>

  <div class="icons">
    <a href="/search">
      <img [src]="searchIcon" class="search">
    </a>
    <img [src]="burger" class="burger">
  </div>
</div>

<div class="secondary-nav">

  <div class="branding">
    <img [src]="logo" class="logo">
      <div class="brand-text">
        <p>TECHNICAL EDUCATION AND SKILLS DEVELOPMENT AUTHORITY</p>
        <h1>BAGUIO CITY SCHOOL<br>OF ARTS AND TRADES</h1>
      </div>
  </div>
  
  <div class="general-info">
    <p>Address: 80 Military Cut-Off, Baguio City, Philippines</p>
    <p>Telephone No: (074) 444-9161 / 444-8459</p>
    <p>Email Address: bscat@tesda.gov.ph</p>
  </div>

</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">

    <div class="knee">
      <h1>general information</h1>
      <p>Address: 80 Military Cut-Off, Baguio City, Philippines</p>
      <p>Telephone No: (074) 444-9161/444-8459</p>
      <p>Email Address: bscat@tesda.gov.ph</p>
    </div>
  
    <div class="leg">
      <h1>contact us</h1>
        <div class="shoes">
          <p>Office of the Vocational School Administrator</p>
          <p>074 (304-3991)</p>
        </div>
        <div class="shoes">
          <p>Student Services Department</p>
          <p>074 (444-8459)</p>
        </div>
        <div class="shoes">
          <p>Instruction, Research & Extension Department</p>
          <p>074 (304-3976)</p>
        </div>
        <div class="shoes">
          <p>Finance and Administrative Services Department</p>
          <p>074 (620-4482 / 444-9161)</p>
        </div>
        <div class="shoes">
          <p>Assessment Center</p>
          <p>074 (444-9161)</p>
        </div>
    </div>

  </div>

  <!-- <div id="copyright">
    <p>Baguio City School of Arts and Trade Website</p>
    <p>Copyright © 2021 All Rights Reserved</p>
  </div> -->
  
</footer>