<div class="primary-nav">

  <nav>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/services">services</a>
    <a href="/programs">programs</a>
  </nav>

  <div class="free"><p></p></div>

  <div class="icons">
    <div class="search">
      <input type="text" placeholder="looking for something?">
      <img [src]="searchIcon" class="search">
    </div>
    <img [src]="burger" class="burger">
  </div>

</div>

<div class="secondary-nav">

  <a href="/">
    <div class="branding">
      <img [src]="logo" class="logo">
        <div class="brand-text">
          <p>TECHNICAL EDUCATION AND SKILLS DEVELOPMENT AUTHORITY</p>
          <h1>APAYAO PROVINCIAL <br> TRAINING CENTER</h1>
        </div>
    </div>
  </a>
  
  <div class="general-info">
    <p>Address: Lorem, ipsum dolor, Dolor Amet, Philippines</p>
    <p>Telephone No: (000) 000-0000 / 000-0000</p>
    <p>Email Address: LoremIpsum@tesda.gov.ph</p>
  </div>

</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">

    <div class="knee">
      <h1>general information</h1>
        <p>Address: Lorem, ipsum dolor, Dolor Amet, Philippines</p>
        <p>Telephone No: (000) 000-0000 / 000-0000</p>
        <p>Email Address: LoremIpsum@tesda.gov.ph</p>
    </div>
  
    <div class="leg">
      <h1>contact us</h1>
        <div class="shoes">
          <p>Office of the Vocational School Administrator</p>
          <p>000 (000-0000)</p>
        </div>
        <div class="shoes">
          <p>Student Services Department</p>
          <p>000 (000-0000)</p>
        </div>
        <div class="shoes">
          <p>Instruction, Research & Extension Department</p>
          <p>000 (000-0000)</p>
        </div>
        <div class="shoes">
          <p>Finance and Administrative Services Department</p>
          <p>000 (000-0000 / 000-0000)</p>
        </div>
        <div class="shoes">
          <p>Assessment Center</p>
          <p>000 (000-000)</p>
        </div>
    </div>

  </div>

  <!-- <div id="copyright">
    <p>Baguio City School of Arts and Trade Website</p>
    <p>Copyright © 2021 All Rights Reserved</p>
  </div> -->
  
</footer>