// colors -----------------------------------------------
$blu: #294A70;;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
// colors -----------------------------------------------

header{
    background-color: $blu;
    border-bottom: 4px $yel solid;
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    nav{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 20px;

        a{
            color: #fff;
            font-variant: small-caps;

            &:hover{
                color: $yel;
            }//a hover end
        }//a end
    }//nav end
}//header end

@media only screen and (min-width: 600px) {
    header{
        flex-direction: row-reverse;
        justify-content: space-between;
        position: sticky;
        
    }//header end
}//media querie end