// colors -----------------------------------------------
$blu: #294A70;;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;
// mixins -----------------------------------------------
@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}
// ------------------------------------------------------

.primary-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blu;
    border-bottom: 4px $yel solid;
    padding: 25px 65px;
    position: sticky;
    top: 0;

    .search{
        width: 20px;
    }

    nav{
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 20px;

        a{
            color: #fff;
            font-variant: small-caps;

            &:hover{
                color: $yel;
            }//a hover end
        }//a end
    }//nav end
}//primary end

@media (max-width: 600px) {
   .primary-nav{
        justify-content: center;
       nav{
        // display: none;
       }
   }
   
   .search{
        display: none;
    }//search end
}//media querie end

.secondary-nav{
    padding: 10px 60px;
    display: flex;
    background-color: $whi;

    .branding{
        display: flex;
        align-items: center;

        img{
            width: 170px;
            margin: 0 20px 0 0;
        }

        .brand-text{

            h1{
                font-size: 35px;
                font-weight: 700;
                line-height: 30px;
                color: $blu;
            }
            p{
                font-size: 11px;
                color: $blk;
                text-align: center;
                font-weight: 800;
            }
        }
    }
}

@media (max-width: 700px){
    .secondary-nav{
        padding: 40px 0;
    
        .branding{
            
            img{
                width: 20vw;
                margin: 0 10px 0 20px;
            }

            .brand-text{

                h1{
                   font-size: 5.4vw;
                   line-height: 4vw;
                }

                p{
                   font-size: 1.8vw;
                }
            }
        }
    }// secondary end
}// media end