<div id="student-container" class="student-service">
    <div class="service-showcase">
        <div class="text-area">
            <h1>OUR <span>SERVICES</span></h1>
        </div>
    </div>
    <div id="student" class="container">
        <img [src]="">
        <div class="text-area">
            <div class="heading">
                <h1>STUDENT <span>SERVICES</span></h1>
                    <div class="line">
                    </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
        </div>
    </div>

    <div class="container" id="competency-container">
        <div class="text-area">
            <div class="heading">
                <h1>NATIONAL COMPETENCY <span>ASSESSMENT</span></h1>
                    <div class="line">
                    </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
        </div>

        <div class="competency-table">
            <table>
                <thead>
                    <tr class = "thead">
                    <td class="quali-tad"><strong>Qualification</strong></td>
                    <td class="assess-td"><strong>Assessment Fee</strong></td>
                    <td class="accnum-td"><strong>&nbsp;Accrediation Number</strong></td>
                    </tr>
                </thead>

                <tbody>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                <tr>
                <td class="quali-tad" data-label="Qualification">&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                <td class="assess-td" data-label="Assessment Fee">&nbsp;&nbsp;100.00</td>
                <td class="accnum-td" data-label="Accrediation Number">&nbsp;ABC-11111-000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="assessment-procedure">
        <img [src]="">
        <div class="text-area">
            <div class="heading">
                <h1>ASSESSMENT <span>PROCEDURE</span></h1>
                    <div class="line">
                    </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
        </div>
        <div class="procedure-table">
            <table>
                <thead>
                    <tr class = "thead">
                    <td class="checkreq-td"><strong>CHECKLIST REQUIREMENTS</strong></td>
                    <td class="wheresec-td"><strong>WHERE TO SECURE</strong></td>
                    </tr>
                </thead>                
                <tbody>
                <tr>
                <td class="checkreq-td" data-label="Checklist Requirement"><strong><em>Office or Division:</em></strong></td>
                <td class="wheresec-td" data-label="Where to Secure?">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                </tr>
                <tr>
                <td class="checkreq-td" data-label="Checklist Requirement"><strong><em>Classification:</em></strong></td>
                <td class="wheresec-td" data-label="Where to Secure?">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                </tr>
                <tr>
                <td class="checkreq-td" data-label="Checklist Requirement"><strong><em>Type of Transaction:</em></strong></td>
                <td class="wheresec-td" data-label="Where to Secure?">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                </tr>
                <tr>
                <td class="checkreq-td" data-label="Checklist Requirement"><strong><em>Who may avail:</em></strong></td>
                <td class="wheresec-td" data-label="Where to Secure?">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="requirements-table">
            <table>
                <tbody>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Duty Accomplished Application form</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Self Assessment Guide</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Pictures</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Birth Certificate</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Employment Certifiicate</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="reqtitle-td">
                <ul>
                <li><strong><em>Training Certificate</em></strong></li>
                </ul>
                </td>
                <td class="reqcontent-td">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                </tbody>
            </table>
            <div class="steps-table">
                <table>
                    <thead>
                        <tr class = "thead">
                            <td class="clistep-td"><strong>CLIENT STEPS</strong></td>
                            <td class="actstep-td"><strong>ACTIONS</strong></td>
                            <td class="feestep-td"><strong>FEES TO BE PAID</strong></td>
                            <td class="procstep-td"><strong>PROCESSING TIME</strong></td>
                            <td class="personstep-td"><strong>PERSON RESPONSIBLE</strong></td>
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr>
                            <td class="clistep-td" data-label="STEP">1. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                        </tr>
                        <tr>
                            <td class="clistep-td" data-label="STEP">2. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                        </tr>
                        <tr>
                            <td class="clistep-td" data-label="STEP">3. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                        </tr>
                        <tr>
                            <td class="clistep-td" data-label="STEP">4. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                        </tr>
                        <tr>
                            <td class="clistep-td" data-label="STEP">5. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                        </tr>
                        <tr>
                            <td class="clistep-td" data-label="STEP">6. Lorem ipsum dolor sit amet consectetur</td>
                            <td class="actstep-td" data-label="ACTION">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="feestep-td" data-label="FEE">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="procstep-td" data-label="PROCESSING TIME">Lorem ipsum dolor sit amet consectetur</td>
                            <td class="personstep-td" data-label="PERSON IN-CHARGE">Lorem ipsum dolor sit amet consectetur</td>
                            </tr>
                        <tr>
                        <td class="clistep-td"></td>
                        <td class="actstep-td"><strong>TOTAL:</strong></td>
                        <td class="feestep-td" data-label="TOTAL FEE">Lorem ipsum dolor sit</td>
                        <td class="procstep-td" data-label="TOTAL PROCESSING TIME">41 minutes</td>
                        <td class="person-td"></td>
                        </tr>
                    </tbody>          
                </table>
            </div>
        </div>
    </div>
    <div class="container" id="calendar-area">
        <div class="text-area">
            <div class="heading">
                <h1>SCHOOL <span>CALENDAR</span></h1>
                    <div class="line">
                    </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
        </div>
        <div class="calendar-table">
            <table>
                <thead>
                    <tr class = "thead">
                    <td style="text-align: center;"><strong>DATE</strong></td>
                    <td style="text-align: center;"><strong>EVENTS</strong></td>
                    </tr>
                </thead>                        
                <tbody>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                <tr>
                <td class="date-td" data-label="Date">01-01-01</td>
                <td class="events-td" data-label="Event">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>

</div>
