<div class="service-body">
    <div id="student-container" class="student-service">
        <div class="service-showcase">
            <div class="text-area">
                <h1>OUR <span>SERVICES</span></h1>
            </div>
        </div>
        <div id="student" class="container">
            <img [src]="">
            <div class="text-area">
                <div class="heading">
                    <h1>STUDENT <span>SERVICES</span></h1>
                        <div class="line">
                        </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
            </div>
        </div>
    
        <div class="container" id="competency-container">
            <div class="text-area">
                <div class="heading">
                    <h1>NATIONAL COMPETENCY <span>ASSESSMENT</span></h1>
                        <div class="line"></div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
            </div>
    
            <div class="competency-table">
                <table>
                    <tbody>
                        <tr class="thead" style="background-color: #294a70; color: #ffffff;">
                            <td><strong>Qualification</strong></td>
                            <td><strong>Assessment Fee</strong></td>
                            <td><strong>&nbsp;Accrediation Number</strong></td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                        <tr>
                            <td>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;</td>
                            <td>&nbsp;&nbsp;100.00</td>
                            <td>&nbsp;ABC-11111-000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="container" id="assessment-procedure">
           <div class="child">
            <img [src]="">
            <div class="text-area">
                <div class="heading">
                    <h1>ASSESSMENT <span>PROCEDURE</span></h1>
                        <div class="line">
                        </div>
                </div>
            </div>

            <div class="table-parent">
                <div class="procedure-table">
                    <table>
                        <tbody>
                            <tr class = "thead">
                                <td><strong>CHECKLIST REQUIREMENTS</strong></td>
                                <td><strong>WHERE TO SECURE</strong></td>
                            </tr>
                            <tr>
                                <td><strong><em>Office or Division:</em></strong></td>
                                <td>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</div>
                                </td>
                            </tr>
                            <tr>
                                <td><strong><em>Classification:</em></strong></td>
                                <td>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong><em>Type of Transaction:</em></strong></td>
                                <td>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong><em>Who may avail:</em></strong></td>
                                <td>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
                <div class="requirements-table">
                    <table>
                        <tbody>
                            <tr style="height: 19px;">
                                <td style="width: 299px; height: 19px;">
                                <p>Duty Accomplished Application form</p>
                            </td>
                            <td style="width: 449px; height: 19px; text-align: center;">
                                <div>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                            <tr style="height: 20px;">
                                <td style="width: 299px; height: 19px;">
                                    <p>Self Assessment Guide</p>
                                </td>
                            <td style="width: 449px; height: 20px; text-align: center;">
                                <div>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                            <tr style="height: 20px;">
                            <td style="width: 299px; height: 20px;">
                                <p>Pictures</p>
                            </td>
                            <td style="width: 449px; height: 20px; text-align: center;">
                                <div>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                            <tr style="height: 20px;">
                            <td style="width: 299px; height: 20px;">
                                <p>Birth Certificate</p>
                            </td>
                            <td style="width: 449px; height: 20px; text-align: center;">
                                <div>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                            <tr style="height: 20px;">
                                <td style="width: 299px; height: 20px;">
                                    <p>Employment Certifiicate</p>
                                </td>
                            <td style="width: 449px; height: 20px; text-align: center;">
                                <div>
                                <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                            <tr style="height: 20px;">
                                <td style="width: 299px; height: 20px;">
                                    <p>Training Certificate</p>
                                </td>
                            <td style="width: 449px; height: 20px; text-align: center;">
                                <div>
                                    <div>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</div>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <div class="last-table">
                        <table style="width: 80%; height: 20px;">
                            <tr class = "thead" style="text-align: center; padding-left: 5em; border: 2px solid #FFAB1F">
                            <td style="width: 30%"><strong>CLIENT STEPS</strong></td>
                            <td> <strong>ACTIONS</strong></td>
                            <td><strong>FEES</strong></td>
                            <td style="width: 20%"><strong>PROCESSING TIME</strong></td>
                            <td style="width: 30%"><strong>PERSON RESPONSIBLE</strong></td>
                            </tr>
                            <tr>
                            <td>1. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit amet consectetur</td>
                            </tr>
                            <tr>
                            <td>2. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            </tr>
                            <tr>
                            <td>3. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            </tr>
                            <tr>
                            <td>4. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            </tr>
                            <tr>
                            <td>5. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            </tr>
                            <tr>
                            <td>6. Lorem ipsum dolor sit amet consectetur</td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            <td>Lorem ipsum dolor sit </td>
                            </tr>
                            <tr>
                            <td></td>
                            <td><strong>TOTAL:</strong></td>
                            <td>Lorem ipsum dolor sit</td>
                            <td>41 minutes</td>
                            <td></td>
                            </tr>          
                        </table>
                    </div> -->
                </div>
            </div>
           </div>
        </div>
        
        <div class="container" id="calendar-area">
            <div class="text-area">
                <div class="heading">
                    <h1>SCHOOL <span>CALENDAR</span></h1>
                        <div class="line">
                        </div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed laborum, repellat ab cum ipsam aliquid. At dolorum voluptates animi maxime sapiente nihil incidunt impedit ad sit doloribus. Tempore delectus dolores perspiciatis libero, voluptatem accusamus provident sequi ab error, iste laudantium voluptatum minima aspernatur neque ipsum facere. Ex, exercitationem? Nihil atque dignissimos error alias quod magni!.</p>
            </div>
            <div class="calendar-table">
                <table style="height: 357px; width: 703px;">
                    <tbody>
                    <tr class = "thead" style="background-color: #294a70; color: #ffffff; height: 58px;">
                    <td style="width: 535px; text-align: center; height: 58px;"><strong>DATE</strong></td>
                    <td style="width: 570px; text-align: center; height: 58px;"><strong>EVENTS</strong></td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">
                    <div>
                    <div>01-01-01</div>
                    </div>
                    </td>
                    <td style="width: 570px; text-align: center; height: 29px;">
                    <div>
                    <div>&nbsp;Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit&nbsp; &nbsp; &nbsp;</div>
                    </div>
                    </td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 29px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 29px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 29px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 29px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 29px;">
                    <td style="width: 535px; text-align: center; height: 29px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 29px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 30px;">
                    <td style="width: 535px; text-align: center; height: 30px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 30px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 30px;">
                    <td style="width: 535px; text-align: center; height: 30px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 30px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    <tr style="height: 30px;">
                    <td style="width: 535px; text-align: center; height: 30px;">01-01-01</td>
                    <td style="width: 570px; text-align: center; height: 30px;">Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    
    </div>
    
</div>