// colors -----------------------------------------------

$blu: #294A70;;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
$smk: #f5f5f5;

// mixins -----------------------------------------------

@mixin flexCenter() {
    display: flex;
    justify-content: center;
}

.search-body{
    @include flexCenter();
    height: 500px;
    background-color: $blu;

    input{
        margin-top: 100px;
        cursor: pointer;
        width: 800px;
        font-size: 15px;
        font-weight: 700;
        color: rgb(100, 96, 96);
        outline: none;
        text-align: center;
        height: 50px;
        border: $blk 0px solid;
        box-shadow: $blk  10px 7px;
        border-radius: 50px;
        
    }
}

@media (max-width: 900px){
    .search-body{
        padding: 35px;
    }
}