// colors -----------------------------------------------
$blu: #294A70;;
$yel: #FFAB1F;;
$blk: #141414;
$whi: #FFFFFF;
// colors -----------------------------------------------

.home-showcase{
    background-image: url(https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    .text-area{
        padding: 10px;
        color: white;
        font-variant: small-caps;
        h1{
            max-width: 900px;
            font-size: 55px;
            margin-bottom: 10px;
            text-shadow: $blk 1px 1px 15px;
        }
        p{
            max-width: 600px;
            text-align: justify;
        }
        .buttons{
            margin-top: 10px;

            button{
                font-variant: small-caps;
                font-weight: 600;
                background-color: $yel;
                color: $blk;
                outline: none;
                border: none;
                padding: 10px 20px;
                margin-right: 10px;
                box-shadow: $blk 3px 3px 5px;
                transition: .1s;
                box-shadow: $blk 5px 5px 5px;

                &:hover{
                    // background-color: $blu;
                    color: $whi;
                }
            }
        }
    }//text-area emd
}//home-showcase-emd