<div class="home-showcase">
    <div class="text-area">
        <h1>WELCOME TO BCSAT</h1>  
        <p>lorem ipsum dolor sit amet consectetur adipisi elit.</p>
        <p>lorem ipsum dolor sit amet consectetur.</p>
            <div class="buttons">
                <a href="#read">
                    <button>start reading</button>
                </a>
            </div>
    </div>
</div>

<div id="read"></div>

<div class="content-body">

    <div class="why-us">
        <div class="headings">
            <h1>WHY BSCAT?</h1>
            <p>WE TAKE PRIDE OF THE FOLLOWING</p>
        </div>
    
        <div class="why-content">
            <div class="content">
                <h1>COMPETENT TRAINERS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
            <div class="content">
                <h1>RESPONSIVE CURRICULUM</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
            <div class="content">
                <h1>UPGRADED FACILITIES</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
        </div>
    </div>
    
</div>