<div class="home-showcase">
    <div class="text-area">
        <h1>WELCOME TO BCSAT</h1>  
        <p>lorem ipsum dolor sit amet consectetur adipisi elit.</p>
        <p>lorem ipsum dolor sit amet consectetur.</p>
            <div class="buttons">
                <a href="#read">
                    <button>start reading</button>
                </a>
            </div>
    </div>
</div>

<div id="read"></div>

<div class="content-body">

    <div class="why-us">
        <div class="headings">
            <h1>WHY BSCAT?</h1>
            <p>WE TAKE PRIDE OF THE FOLLOWING</p>
        </div>
    
        <div class="why-content">
            <div class="content">
                <h1>COMPETENT TRAINERS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
            <div class="content">
                <h1>RESPONSIVE CURRICULUM</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
            <div class="content">
                <h1>UPGRADED FACILITIES</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda.</p>
            </div>
        </div>
    </div>
    
   
    <div id="news">
        <h1 class="news-heading">NEWS & <span>UPDATES</span></h1>

        <div class="news" >
            <div id="main" class="container">
                <div class="img"><h2>CHED DISCUSSES LF2FC?!</h2></div>
                    <div class="text-area">
                        <div class="date">04.10.2021</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem temporibus recusandae ratione, iste, ad, fugit amet eum aliquam perspiciatis cumque aliquid neque repudiandae!</p>
                    </div>
            </div>
            
            <div id="misc" class="container">

                <div class="little-boi">
                    <div class="img"></div>
                    <div class="text-area">
                        <div class="date">04.10.2021</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, sapiente.</p>
                    </div>
                </div>

                <div class="little-boi">
                    <div class="text-area">
                        <div class="date">04.10.2021</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptatum?</p>
                    </div>
                    <div class="img"></div>
                </div>
                
            </div>
        </div>
    </div>

</div>